.drink-card {
  max-width: 400px;
  background: #ffffff;
  box-shadow: 1px 9px 13px grey;
  border-radius: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  padding: 1.25rem;
}

.md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 250px
}
.title-font {
font-size:14px;
}
